<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Servicios Streaming</title>
</head>

<body>
  <header class="hero">
    <nav class="nav container">
      <div class="nav__logo">
        <h2 class="nav__title">Plataformas de Streaming</h2>
      </div>
    </nav>
    <section class="hero__container container">
      <h1 class="hero__title">¡Disfruta de las mejores plataformas de streaming al mejor precio!</h1>
      <p class="hero__paragraph">
        Por que ver tus series favoritas no tiene que ser caro
      </p>
    </section>
  </header>

  <!-- NUEVA SECCIÓN: SOBRE EL SERVICIO -->
  <section class="about-section">
  <mat-card class="about-card">
    <div class="about-card__content">
      <div class="about-card__text">
        <h2 class="about-card__title">¿Qué hacemos?</h2>
        <p>
         Ofrecemos la venta de cuentas de las principales plataformas de streaming y entretenimiento digital como Netflix, Disney+, HBO Max, Spotify, Crunchyroll, Amazon Prime Video, entre otras. Nuestro objetivo es brindarte acceso rápido, seguro y confiable para que disfrutes de tus series, películas, música y anime favoritos sin complicaciones.
        </p>
      </div>
      <div class="about-card__image">
        <img src="/img/PaimonS.png" alt="Paimon chibi" />
      </div>
    </div>
  </mat-card>
</section>
<app-tarjetas></app-tarjetas>
<app-proceso></app-proceso>
<footer style="text-align: center; font-size: 0.8rem; padding: 1rem; opacity: 0.6;">
  Este sitio no está afiliado ni respaldado por Netflix, Disney, HBO, Spotify, Amazon ni ninguna otra plataforma mencionada. Todas las marcas y logotipos son propiedad de sus respectivos dueños y se utilizan únicamente con fines ilustrativos.
</footer>
</body>
</html>
