<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Webleb</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <ul class="wrapper">
    <li class="icon facebook">
      <span class="tooltip">Facebook</span>
      <a [href]="facebookLink" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li class="icon tiktok">
      <span class="tooltip">TikTok</span>
      <a [href]="TiktokLink" target="_blank" aria-label="TikTok">
        <i class="fab fa-tiktok"></i>
      </a>
    </li>
    <li class="icon whatsapp">
      <span class="tooltip">WhatsApp</span>
      <a [href]="whatsappLink" target="_blank" aria-label="Whatsapp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </li>
  </ul>

  <!-- Botón Volver -->
  <div style="padding: 20px; display: flex; justify-content: center;">
    <div class="button" mat-button color="primary" (click)="cerrar()">
      <span class="text">Volver</span>
      <span class="arrow"></span>
    </div>
  </div>
</body>
</html>
