<section class="servicio-pasos">
  <h2>¿Cómo funciona nuestro servicio?</h2>
  <div class="pasos-container">
    
    <div class="paso-card">
      <span class="paso-icon">📝</span>
      <h3>Elige tu servicio</h3>
      <p>Elije la plataforma que deseas</p>
    </div>

    <div class="paso-card">
      <span class="paso-icon">📩</span>
      <h3>Contáctanos</h3>
      <p>Escríbenos por redes sociales o directamente por mensaje.</p>
    </div>

    <div class="paso-card">
      <span class="paso-icon">💳</span>
      <h3>Paga Por transferencia</h3>
      <p>Fácil y seguro.</p>
    </div>

    <div class="paso-card">
      <span class="paso-icon">🕓</span>
      <h3>Confirmamos tiempos</h3>
      <p>La activacion de las cuentas rondan en los 15 minutos.</p>
    </div>

    <div class="paso-card">
      <span class="paso-icon">🔐</span>
      <h3>Tu cuenta, segura</h3>
      <p>Todo es manual, sin bots ni riesgos.</p>
    </div>

    <div class="paso-card">
      <span class="paso-icon">✅</span>
      <h3>Recibe y disfruta</h3>
      <p>Te mostramos los resultados y disfrute de su cuenta.</p>
    </div>

  </div>
</section>
